aside {
    width: 25%;
    padding-left: 10px;
    margin-left: 10px;
    float: left;
}

h2 {
    background-color: lightslategrey;
    text-align: center
}
body{
    background-color: lightgrey;
}

h1 {background-color: darkseagreen;
    text-align: center;
    alignment: center;
}
button{    background-color: lightslategrey;
    text-decoration-line: none;
    color: white;
    alignment: top;
    text-align: center;
    border-bottom-color: black;
}

form {
    text-align: center
}

.open-button {
    background-color: lightslategrey;
    color: white;
    padding: 16px 20px;
    border: black;
    bottom: 23px;
    right: 28px;
    width: 212px;
}

.form-popup {
    display: none;
    alignment: center;
}

.form-container {
    max-width: 150px;
    padding: 10px;
    background-color: white;
}


